<h1 class="text-center">List of books</h1>

<div class="container">
  <div class="row col-xs-12">
    <div class="list-group">
      <% @books.each do |book| %>
        <%= link_to(book, class: "list-group-item") do %>
          <h4 class="list-group-item-heading"><%= book.title %></h4>
          <p class="list-group-item-text">by <%= book.author %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



